<section class="flex flex-row gap-2 mt-2">
  <input 
    class="input input-bordered mr-2 w-56" 
    type="text" 
    [placeholder]="placeholderParam()" 
    autofocus
    #txtSearch
    (keyup.enter)="value.emit(txtSearch.value)"
    (Keyup)="inputValue.set(txtSearch.value)"
    [value]="inputValue()"
  >
  <button class="btn btn-primary" (click)="value.emit(txtSearch.value)">Buscar</button>
</section>

<!-- Value se emite entres situaciones: cuando se presiona enter, cuando se hace click -->
<!-- o cuando el debounce finaliza su timer (cuando se deja de escribir) -->